:root {
    --brand-color: #4D5AE5
}

p, h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;  
}
 /*----mobile---*/

.container {
    min-width: 320px;
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

 /*----tablet----*/
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }    
}

/*----desktop----*/
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/*----header----*/
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

@media screen and (max-width: 767.98px) {
    .header-navigation {
        display: flex;
        flex-grow: 1;
    }
}

@media screen and (min-width: 768px) {
.header-container {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}
}

.header-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 40px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}    

.header-logo {
    color: var(--brand-color);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    padding-top: 17px;
    padding-bottom: 17px;
}

.header-logo-accent {
    color: #2E2F42
}

@media only screen and (min-width: 768px) {
    .header-logo.link {
        margin-right: 120px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

@media only screen and (min-width: 1158px) {
    .header-logo.link {
        margin-right: 76px;
    }
}

@media only screen and (max-width: 767.98px) {
    .header-menu,
    .header-adress {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
.header-menu-link.link {
    position: relative;
    color: #2E2F42;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link::after,
.adress-menu::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    opacity: 0;
    border-radius: 2px;
    background: var(--ocean, #404BBF);
    bottom: -1px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover::after,
.header-menu-link:focus::after,
.header-menu-link.current::after,
.adress-menu:hover:after,
.adress-menu:focus:after {
    opacity: 1;
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link.current,
.adress-menu:hover, 
.adress-menu:focus {
    color: #404BBF;
}

.header-adress {
    font-style: normal;
}
}

@media only screen and (max-width: 1157.98px) {
    .adress.list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

@media only screen and (min-width: 768px) {
    .adress-menu.link {
        position: relative;
        color: var(--SLATE, #434455);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
    }
}

@media only screen and (min-width: 1158px) {
.adress {
    display: flex;
    align-items: center;
    padding-top: 24px;
    gap: 40px;
}

.adress-menu.link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

/*----main----*/

.hero {
    background: #2E2F42;
    padding-top: 112px;
    padding-bottom: 112px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
  rgba(46, 47, 66, 0.7)), 
    url(../images/people_office.jpg);
    background-position: center;
}

@media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .hero {
        background-image:
    }
}

@media only screen and (min-width: 1158px) {
    .hero {
        padding-top: 188px;
        padding-bottom: 188px;
    }
}

.hero-container { 
    margin: 0 auto;
    position: relative;
}

.hero-title {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin: 0 auto;
    text-transform: capitalize;
    max-width: 320px;
    margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
    }
}

@media only screen and (min-width: 1158px) {
    .hero-title {
        margin-bottom: 48px;
    }
}

button {
    border: none;
    cursor: pointer;
}

.hero-btn {
    color: #FFF;
    font-family: inherit;
    cursor: pointer;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.04em;
    background-color: var(--brand-color);
    padding: 16px 32px;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:is(:hover, :focus) {
    background-color: #404BBF;
}


/*----buttom portfolio----*/
.some-btn {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 72px;
    gap: 24px;
}

.btn-roll {
    color: var(--brand-color);
    font-family: inherit;
    cursor: pointer;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.04em;
    background-color: #F4F4FD;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
    padding: 12px 24px;
    height: 48px;
    border: 1px solid #e7e9fc;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 
    250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.btn-roll:is(:hover, :focus) {
    color: #FFF;
    background-color: #404BBF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px
     rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

/*----advantages----*/

.advantages {
    padding: 96px 0 96px; 
}

@media only screen and (max-width: 767.98px) {
    .advantages-item:not(:last-child) { 
        margin-bottom: 72px; 
    }
}

@media only screen and (min-width: 768px) {
    .advantages-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }
}

@media only screen and (max-width: 1157.58px) {
    .advantages-item {
        flex-basis: calc((100% - 24px * 1) / 2);
    }
}

@media only screen and (min-width: 1158px) {
    .advantages {
        padding: 120px 0 120px;
    }
}
@media only screen and (min-width: 1158px) {
    .advantages-item {
        width: calc((100% - 24px * 3) / 4);
        } 
    
    .advantages-list {
        display: flex;
        gap: 24px;
    }  

    .advantages-subtitle {
        margin-top: 8px;
    }
}

.advantages-subtitle {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.advantages-item-text {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media only screen and (min-width: 768px) {
    .advantages-subtitle {
        text-align: left;
    }
}

@media only screen and (min-width: 1158px) {
.advantages-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;  
}
}

@media only screen and (min-width: 1158px) {
.advantages-item-text {
    font-weight: 400;
}
}

.container-icons { 
    display: none;
}

.advantages-icons {
    display: none;
}

@media only screen and (min-width: 1158px) {
    .advantages-icons {
        margin: 0 auto;
        display: flex;
    }
}

@media only screen and (min-width: 1158px) {
    .container-icons { 
        width: 264px;
        height: 112px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background: var(--cloud, #F4F4FD);
        border: 1px solid var(--cloud, #F4F4FD);
        margin-bottom: 8px;
    }
}

/*----pictures----*/

.pictures {
    display: none;
}

@media only screen and (min-width: 1158px) {
.pictures {
    text-align: center;
    display: flex;
    padding-bottom: 120px
}

.pictures-support {
    display: flex;
    gap: 24px;
}

.pictures-subtitle {
    color: #2E2F42;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
   }
}

/*----team----*/
.team {
    padding-top: 96px;
    padding-bottom: 96px; 
}

@media only screen and (min-width: 1158px) {
    .team {
        display: flex;
        padding-top: 120px;
        padding-bottom: 120px;
           }
}

.team {
    background: var(--cloud, #F4F4FD)
}

.team-title {
    color: #2E2F42;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    text-align: center;
}

.team-list {
    max-width: 264px;
    margin: 0 auto;
}

@media only screen and (max-width: 1157.98px) {
    .team-list {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     gap: 72px 24px;
    }
}
@media only screen and (max-width: 1157.98px) {
    .team-list {
        max-width: 584px;
        --items: 2;
        --indent: 24px;
    }
}

@media only screen and (min-width: 1158px) {
    .team-list {
        display: flex;
        gap: 24px;
        max-width: 0 100%;
        align-items: center;
        justify-content: center;
    }  
}

.team-item {
    background-color: #FFFFFF; 
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.container-subtitle {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.team-item-text {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.social-media {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: nowrap; 
}

.social-icons {
   align-items: center;
   width: 40px;
   height: 40px;

}

.social-icons-link {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    fill: var(--cloud, #F4F4FD);
    background-color: #4d5ae5; 
    transition :background-color 
    250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link:hover,
.social-icons-link:focus {
    background-color: #404bbf;
}

/*----Portfolio----*/
.portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media only screen and (min-width: 1158px) {
    .portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
}
}

.portfolio-team {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.container-support {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none; 
}

@media only screen and (max-width: 767.98px) {
.support-list {
    max-width: 288px;
    margin: 0 auto;
  }
.support-list-item:not(:last-child) {
   margin-bottom: 48px;
 }
}

@media only screen and (min-width: 768px) {
    .support-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 48px 24px;
      }
}
@media only screen and (min-width: 768px) {
    .support-list-item {
        width: calc((100% - 24px) / 2);
    }
}

 @media only screen and (min-width: 1158px) {
    .support-list-item {
       width: calc((100% - 24px * 2) / 3);
    }
 }

.support-card {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.support-card:is(:hover, :focus) {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
} 

 .card {
    position: relative;
    overflow: hidden;
 }

 .overlay {
    color: var(--cloud, #F4F4FD);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--iris, #4D5AE5);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.support-card:hover .overlay,
.support-card:focus .overlay {
    transform: translateY(0);
}

.support-list-text {
    color: var(--navyblue, #2E2F42);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.02em;
    margin-bottom: 8px
}

.support-btn-text {
    color: var(--slate, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*----basement----*/

.footer-container {
    display: block;
    background: var(--navyblue, #2E2F42);
    padding-top: 96px;
    padding-bottom: 96px;
    margin: 0 auto;
    }
.header-logo.link {
    justify-content: center;
}

.header-logo-footer {
    color: #f4f4fd;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0,03em;
    text-transform: uppercase;
    }

.footer-text{
    color: var(--CLOUD, #F4F4FD);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 72px;
    }

.footer-text-social,
.footer-text-subscribe {
    color: var(--white, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0 auto;
    margin-bottom: 16px;
    text-align: center;
}  

.footer-social.list {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-bottom: 72px;
}

.footer-social-icons {
    display: flex;
    width: 40px;
    height: 40px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons-list {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    fill: var(--cloud, #F4F4FD);
    background-color: #4d5ae5;
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.footer-icons-list:is(:hover, :focus) {
    background-color: #31d0aa;
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
    display: flex;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 2px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    line-height: 1.5;
    border-radius: 4px;
    border: 1px solid var(--white, #FFF);
    background: transparent;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 288px;
    height: 40px;
    padding-left: 16px;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 16px;
}
.form-input::placeholder {
    color:#FFF;
    padding: 8px;
}

.footer-btm-subscribe {
    display: flex;
    color: #FFF;
    cursor: pointer;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.04em;
    background-color: var(--brand-color);
    align-items: center;
    justify-content: center;
    padding: 8px 24px;
    border-radius: 4px; 
    margin: 0 auto;
    min-width: 165px;
    height: 40px;
    border: none;
}

.footer-subscribe-icon {
    margin-left: 16px;
    align-items: center;
    justify-content: center;
    fill: var(--cloud, #F4F4FD);
    background-color: #4d5ae5;
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
    .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        padding-left: 108px;
    }
    .footer-text{
       max-width: 264px;
       margin-bottom: 0;
}
    .footer-form {
        display: flex;
        gap: 24px;
    }
    .footer-text-social,
    .footer-text-subscribe  {
        text-align: left;
    }
    .form-input {
        width: 264px;
        margin-bottom: 0; 
    }
}    

@media only screen and (min-width: 1158px) {
.footer-container {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo-text {
    margin-right: 120px
}

.header-logo-footer {
    margin-bottom: 16px;
}

.footer-text {
    margin-bottom: 0;
}

.footer-base {
    display: block;
    margin-right: 80px;
}

.footer-social.list {
    display: flex;
    gap: 16px;
    margin-bottom: 0;
}

.footer-text-social,
.footer-text-subscribe {
    margin-bottom: 16px;
    text-align: left;
}  

.footer-form {
    display: flex;
    gap: 24px;
}

.form-input {
    width: 264px;
    margin-bottom: 0;
}
} 

/*----Model window----*/

.backdrop {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
} 

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

.modal-window {
    padding: 72px 24px 24px 24px;
    position: relative;
    background-position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    bottom: 8px;
    width: 408px;
    min-height: 584px;
    background: #fcfcfc; 
    border-radius: 4px;
    visibility: visible;
    opacity: 1;
    visibility: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: var(--dairy, #FCFCFC);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 2px 1px rgba(0, 0, 0, 0.2); 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cross-buttom {
    display: flex;
    position: absolute;
    top: 24px;
    left: 360px;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    background: var(--cornflower, #E7E9FC);
    align-items: center;
    justify-content: center;
    fill: #2E2F42; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cross-buttom:is(:hover, :focus) {
    fill: #FFFFFF;
    background-color: var(--ocean, #404BBF);
    border: none;
}

.cross {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.no-scroll {
    overflow: hidden;
}

/*----Order form----*/


.form-text {
    display: flex;
    text-align: center;
    justify-content: center;
    color: var(--navyblue, #2E2F42);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0 auto; 
    width: 100%;
    height: 24px;
    margin: 0 auto;
    margin-bottom: 16px; 
}

.order-form-list {
    margin-bottom: 8px;
}

.label-box {
    display: block;
    width: 34px;
    height: 14px;
    color: var(--lightslate, #8E8F99);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.label-input {
    display: flex;
    position: relative;
}

.input-box-icon {
    display: flex;
    width: 100%;
    height: 40px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.40));
}

.input-box-icon:is(:hover, :focus) {
    border-radius: 4px;
    border: 1px solid var(--iris, #4D5AE5);
}


.icon-input {
    display: flex;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);     
}

.input-box-icon:focus+.icon-input{
     fill: #4D5AE5;
}

.comment-box {
    margin-bottom: 16px;
}
   
.comment-form-text {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17; 
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4); 
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px; 
    background-color: transparent;
    padding: 8px 16px; 
    outline: transparent; 
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-form-text:focus {
    border-color: #4D5AE5;
}

.checkbox {
    margin-bottom: 24px; 
}

.form-agreement-checkbox {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em; 
    width: 100%;
    height: 16px; 
    text-align: center;
    justify-content: center;
    color: #8e8f99;
}

.span-privacy {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent; 
}

.icon-privacy {
    
}

.checkbox-agreement:checked+.form-agreement-checkbox>.span-privacy {
    background-color: #404bbf; 
    border: none; 
    fill: #F4F4FD;
}

.color-privacy {
    color: #4d5ae5;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #3f51b5;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

/*----model-menu----*/
.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }

  @media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }
  
  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: #FFF;
    z-index: 999;
  
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
  
  .menu-container.is-open {
    transform: translateX(0);
  }
  
  .menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
  }
  
  .mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .mobile-menu .link {
    display: block;
    padding: 10px;
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 36px;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .mobile-menu:hover,
  .mobile-menu:focus {
    color: var(--OCEAN, #404BBF);
  }
